<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto:100,300,400,500,700,900" rel="stylesheet" />
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
</head>
<body>
  <div id="login-container">
    <ul id="mensagens-erro"></ul>
    <form id="form-login" name="form1">
      <div class="principal-texto-erro"><h2 class="banner__titulo">404</h2></div><br>
      <a href="/" id="forgot-pass">Voltar</a>
    </form>
  </div>
  <script src="/js/login.js"></script>
</body>
</html>