<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto:100,300,400,500,700,900" rel="stylesheet" />
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
</head>
<body>
  <div id="login-container">
  <img id="imagem-centro" src="/images/1213.jpg" alt="microfone no centro da pagina perto do campo de login">
    <ul id="mensagens-erro"></ul>
    <form id="form-login" name="form1">
      <div class="principal-texto"><h2> SÓ</h2></div>
      <div class="principal-texto"><h2 class="banner__titulo">PIADA</h2></div>
      <div class="principal-texto"><h2> BOA</h2></div>
      <p class="segundo-texto">Participe da maior comunidade de piadistas</p>
      <p>do <strong>Brasil</strong>. Vote nas piadas de outros usuários</p>
      <p>e cadastre as suas próprias</p>
      <p class="terceiro-texto"><strong>Só não vá me morrer de rir! kkk</strong></p>
      <button id="logar" onclick="location.href='/novapiada'" type="button" >Começar</button>
    </form>
  </div>
</body>
</html>