<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto:100,300,400,500,700,900" rel="stylesheet" />
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
</head>
<body>
  <div id="login-container">
  <img id="imagem-centro" src="/images/1213.jpg" alt="microfone no centro da pagina perto do campo de login">
    <ul id="mensagens-erro"></ul>
    <form id="form-login" name="form1">
      <label for="email">E-mail</label>
      <input type="email" name="email" id="email" placeholder="Digite seu e-email" autocomplete="off" required>
      <label for="email">Senha</label>
      <input type="password" name="password" id="password" placeholder="Digite sua senha" required>
      <a href="/register" id="forgot-pass">Registrar</a>
      <button id="logar" onclick="location.href='/home'" type="button" >Entrar</button>
    </form>
  </div>
  <script src="/js/login.js"></script>
</body>
</html>