<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Piadas</title>
  <link rel="stylesheet" href="/stylesheets/piada.css">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto:100,300,400,500,700,900" rel="stylesheet" />
</head>

<body>
  <div id="main-container">
    <div class="container">
      <% for (let item of testePiada) {%>
      <div class="col-9">
        <div class="card-body">
          <div class="principal-texto">
            <h3 class="banner__titulo piadaespaco">Piada: </h3>
            <h4><%= item.text %></h4>
          </div><br><br>
          <div class="post-content">
            <div class="reaction-wrapper">
              <div class="description">
                <h4><%= item.name %></h4>
              </div>
              <img src="/images/like.png" class="icon" alt="icone de curtindo a piada">
              <img src="/images/comment.png" class="icon" alt="icone de comentar a piada">
              <img src="/images/send.png" class="icon" alt="icone de enviar a piada">
              <img src="/images/save.png" class="icon" alt="icone de salvar a piada">
            </div>
          </div>
          <p>
            <hr/>
         </p>
        </div>
        <% } %>
      </div>
    </div>
  </div>

  <script src="/js/piada.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>

</html>